.about__conteiner {
    width: 100%;
    background-color: #FFF5F6;
    padding: 60px 20px 40px 20px;
    position: relative;
}

.about__title-span {
    display: flex;
    justify-content: center;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;
    color: #FFA5BA;
    margin-bottom: 15px;
}

.about__title {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
    margin-top: 0;
    margin-bottom: 32px;
}

.about__conteiner-text {
    display: flex;
    flex-wrap: wrap;
    
}


// .about__text-span::before {
//     content: '';
//     display: flex;
//     width: 100%;
//     height: 279px;
//     background-image: url(../images/home-pic4.png);
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-color: #FFF5F6;
//     background-position: 50% 50%;
// }

.about__image {
    margin-bottom: 40px;
}

.about__text-span {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.58;
    color: #000000;
    margin-bottom: 40px;
    padding-right: 60px;
    z-index: 1;
}

// .about__text-span::after {
//     content: '';
//     display: flex;
//     background-image: url(../images/sectionbg11.png);
//     width: 100%;
//     height: 133px;
// }

.about-background {
    width: 100%;
    padding: 0 20px;
    display: flex;
    position: absolute;
    top: 64%;
    left: 0;
    
}

.about-background__image {
    width: 100%;
}

.about__text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.58;
    color: #907E82;
    margin-top: 0;
    margin-bottom: 20px;
    padding-right: 60px;
    z-index: 1;
}

.about__button {
    width: 176px;
    height: 44px;
    background-color: #FFFFFF;
    border-radius: 22px;
    margin-right: auto;
    border-color: #11ffee00;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    color: #D41443;
}

.about__button-image {
    margin-left: 14px;
}