:root {
  --main-color: #d41443;
  --sec-color: #ffa5ba;
  --button-hover-bgc: #ecebeb;
  --button-red-bgc: #d41342;
  --white-text-color: #ffffff;
  --sec-text-color: #907e82;
  --black-text-color: #000000;
  --first-bgc: #e5e5e5;
  --sec-bgc: #fff5f6;
  --customer-reviews-bgc: #e1e1e1;
  --first-additional-color: #f0d1a5;
  --second-additional-color: #c2e297;
  --third-additional-color: #C2E297;
  --modal-color: #e17992;

  --anim-slow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}