:root {
--main-color: #D41443;
--sec-color: #FFA5BA;
--button-hover-bgc: #ECEBEB;
--white-text-color: #FFFFFF;
--sec-text-color: #907E82;
--black-text-color: #000000;
--first-bgc: #E5E5E5;
--sec-bgc: #FFF5F6;


}

