:root {
--main-color: #D41443;
--sec-color: #FFA5BA;
--bg-color: #FFB8CA;
--button-hover-bgc: #ECEBEB;
--white-text-color: #FFFFFF;
--sec-text-color: #907E82;
--black-text-color: #000000;
--first-bgc: #E5E5E5;
--sec-bgc: #FFF5F6;
--customer-reviews-bgc: #E1E1E1;
--first-additional-color: #F0D1A5;
--second-additional-color: #C2E297;

--animation-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

