<section class="advantages">
  <div class="advantages__container container">
    <h2 class="visually-hidden">advantages</h2>
    <ul class="advantages__list list">
      <li class="advantages__item">
        <img
          src="./images/advantages/advantages1.png"
          alt=""
          width="50"
          height="50"
        />
        <p class="advantages__title">721</p>
        <p class="advantages__txt">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <img
          src="./images/advantages/advantages2.png"
          alt=""
          width="50"
          height="50"
        />
        <p class="advantages__title">16kg</p>
        <p class="advantages__txt">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <img
          src="./images/advantages/advantages3.png"
          alt=""
          width="44"
          height="50"
        />
        <p class="advantages__title">84</p>
        <p class="advantages__txt">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
