<section class="contacts">
  <div class="container">

    <h2 class="section__title">Contacts</h2>


    <div class="contacts__list">
      <div class="contacts__item">
        <span class="contacts__title">CAFE</span>

        <div class="contacts__box">
          <span class="contacts__city">Chicago</span>
          <p class="contacts__street">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>

        <div class="contacts__box">
          <span class="contacts__days">Monday - Friday</span>
          <span class="contacts__hours">06:00 AM - 10:00 PM</span>
        </div>

        <div class="contacts__info">
          <a class="contacts__info__link" href="">+61(0) 383 766 284</a>
          <a class="contacts__info__link" href="">noreply@envato.com</a>
        </div>

      </div>

      <div class="contacts__item">
        <span class="contacts__title">CAFE</span>

        <div class="contacts__box">
          <span class="contacts__city">Chicago</span>
          <p class="contacts__street">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>

        <div class="contacts__box">
          <span class="contacts__days">Monday - Friday</span>
          <span class="contacts__hours">06:00 AM - 10:00 PM</span>
        </div>

        <div class="contacts__info">
          <a class="contacts__info__link" href="">+61(0) 383 766 284</a>
          <a class="contacts__info__link" href="">noreply@envato.com</a>
        </div>

      </div>


      <div class="contacts__item">
        <span class="contacts__title">CAFE</span>

        <div class="contacts__box">
          <span class="contacts__city">Chicago</span>
          <p class="contacts__street">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>

        <div class="contacts__box">
          <span class="contacts__days">Monday - Friday</span>
          <span class="contacts__hours">06:00 AM - 10:00 PM</span>
        </div>

        <div class="contacts__info">
          <a class="contacts__info__link" href="">+61(0) 383 766 284</a>
          <a class="contacts__info__link" href="">noreply@envato.com</a>
        </div>

      </div>
    </div>

    <div class="contacts__buttons">
      <button type="button" class="button button--red">Our Locations</button>
      <button type="button" class="button button--white">Franchise</button>
    </div>

  </div>
</section>