<div class="container">
  <div class="reviews-slider">
    <div class="reviews-slider__item">
      <img class="reviews-slider__photo" src="/src/images/customer-reviews/testimonials-1_lg.png" alt="first review">

      <div class="reviews-slider__text">
        <p class="reviews-slider__message">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
          accumsan
          congue. Lorem ipsum primis in nibh vel risus.</p>
      </div>
      <span class="reviews-slider__markers"></span>
      <p class="reviews-slider__author-name">Emily, Los Angeles</p>

    </div>

    <div class="reviews-slider__item">
      <img class="reviews-slider__photo" src="/src/images/customer-reviews/testimonials-2_lg.png" alt="first review">

      <div class="reviews-slider__text">
        <p class="reviews-slider__message">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
          accumsan
          congue. Lorem ipsum primis in nibh vel risus.</p>
      </div>
      <p class="reviews-slider__author-name">Emily, Los Angeles</p>

    </div>

    <div class="reviews-slider__item">
      <img class="reviews-slider__photo" src="/src/images/customer-reviews/testimonials-3_lg.png" alt="first review">

      <div class="reviews-slider__text">
        <p class="reviews-slider__message">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
          accumsan
          congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
      <p class="reviews-slider__author-name">Emily, Los Angeles</p>

    </div>
  </div>
</div>