<div class="container">
  <div class="reviews-slider">
    <div class="reviews-slider__item">
      <a class="reviews-slider__wrapper" href="">
        <img class="reviews-slider__photo" src="/src/images/customer-reviews/testimonials-1_lg.png" alt="first review">
      </a>
      <div class="reviews-slider__text">
        <div class="reviews-slider__message">
          <p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
            accumsan
            congue. Lorem ipsum primis in nibh vel risus.</p>
        </div>
        <div class="reviews-slider__author-name">Emily, Los Angeles</div>
      </div>
    </div>

    <div class="reviews-slider__item">
      <a class="reviews-slider__wrapper" href="">
        <img class="reviews-slider__photo" src="/src/images/customer-reviews/testimonials-2_lg.png" alt="first review">
      </a>
      <div class="reviews-slider__text">
        <div class="reviews-slider__message">
          <p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
            accumsan
            congue. Lorem ipsum primis in nibh vel risus.</p>
        </div>
        <div class="reviews-slider__author-name">Emily, Los Angeles</div>
      </div>
    </div>

    <div class="reviews-slider__item">
      <a class="reviews-slider__wrapper" href="">
        <img class="reviews-slider__photo" src="/src/images/customer-reviews/testimonials-3_lg.png" alt="first review">
      </a>
      <div class="reviews-slider__text">
        <div class="reviews-slider__message">
          <p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
            accumsan
            congue. Lorem ipsum primis in nibh vel risus.</p>
        </div>
        <div class="reviews-slider__author-name">Emily, Los Angeles</div>
      </div>
    </div>
  </div>
</div>