<footer>
  <div class="container">
    <h2 class="visually-hidden">Footer</h2>

    <p>homemade icecream made</p>
    <p>with passion</p>

    <ul class="socials list">
      <li class="socials__item">
        <a
          class="socials__link link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          aria-label="github"
          ><svg class="socials__icon" width="30" height="30">
            <use
              href="../src/images/svg/symbol-defs.svg#icon-github"
            ></use></svg
          ><span class="visually-hidden">github</span></a
        >
      </li>
      <li class="socials__item">
        <a
          class="socials__link link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          aria-label="telegram"
          ><svg class="socials__icon" width="30" height="30">
            <use
              href="../src/images/svg/symbol-defs.svg#icon-telegram"
            ></use></svg
          ><span class="visually-hidden">telegram</span></a
        >
      </li>
      <li class="socials__item">
        <a
          class="socials__link link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          aria-label="facebook"
          ><svg class="socials__icon" width="30" height="30">
            <use
              href="../src/images/svg/symbol-defs.svg#icon-facebook"
            ></use></svg
          ><span class="visually-hidden">facebook</span></a
        >
      </li>
    </ul>
  </div>
</footer>
