<footer class="footer">
  <div class="container container__footer">
    <h2 class="visually-hidden">Footer</h2>

    <p>homemade icecream made</p>
    <p>with passion</p>

    <ul class="socials list">
      <li class="socials__item">
        <a
          class="socials__link link"
          href="https://github.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="github"
          ><svg class="socials__icon" width="30" height="30">
            <use href="./images/svg/symbol-defs.svg#icon-github"></use></svg
          ><span class="visually-hidden">github</span></a
        >
      </li>
      <li class="socials__item">
        <a
          class="socials__link link"
          href="https://web.telegram.org/k/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="telegram"
          ><svg class="socials__icon" width="30" height="30">
            <use href="./images/svg/symbol-defs.svg#icon-telegram"></use></svg
          ><span class="visually-hidden">telegram</span></a
        >
      </li>
      <li class="socials__item">
        <a
          class="socials__link link"
          href="https://www.facebook.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="facebook"
          ><svg class="socials__icon" width="30" height="30">
            <use href="./images/svg/symbol-defs.svg#icon-facebook"></use></svg
          ><span class="visually-hidden">facebook</span></a
        >
      </li>
    </ul>
    <a class="link link__tel" href="tel:+610383766284"
      >Feel free to contact<span class="digits">+61 (0) 383 766 284</span></a
    >
    <div class="copyright">
      <h3>© 2022 - IceCream. All Rights Reserved.</h3>
    </div>
  </div>
</footer>
