<!-- Секція Hero -->
<section class="hero">

    <div class="container hero__container">

        <div class="hero__mine">
            <h1 class="hero__title title">ice cream <br>
                made with <br>
                <span class="hero__title--secondary">passion</span>
            </h1>
            <ul class="hero__list list">
                <li class="hero__item">
                    <a class="hero__link link" href="#productst">Products</a>
                </li>
                <li class="hero__item hero__item--secondary">
                    <a class="hero__link link" href="#about">How it’s made?</a>
                </li>
            </ul>

            </div>


            <div class="uppertitle-block" >

              
                
                    <source media="(min-width: 1200px)"
                        srcset="./images/header-hero/slider-2_lg.png 1x, ./images/header-hero/slider-2_lg@2x.png 2x" type="image/png" width="213" height="216" />
                
                    <source media="(min-width: 768px)"
                        srcset="./images/header-hero/slider-2_md.png 1x, ./images/header-hero/slider-2_md@2x.png 2x" type="image/png" width="152" height="154" />
                
                    <img class="hero__images--jug" src="./images/header-hero/slider-2_lg.png" alt="a jug of milk" width="213"
                        height="216">
                
                </picture>
            
                
            <div class="uppertitle-btn">
            <p class="hero-uppertitle uppertitle">Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit, 
                sed do eiusmod tempor 
                incididunt ut labore et</p>
            <button class="hero-btn" type="button">
                <picture>
                
                    <source media="(min-width: 1200px)"
                        srcset="./images/header-hero/arrow_lg.png 1x, ./images/header-hero/arrow_lg@2x.png 2x" type="image/png" width="26"
                        height="26" />

                    <source media="(min-width: 768px)"
                        srcset="./images/header-hero/arrow_md.png 1x, ./images/header-hero/arrow_md@2x.png 2x" type="image/png" width="18"
                        height="18" />
                
                    <img class="hero-btn__arrow" src="./images/header-hero/arrow_lg.png" alt="arrow" width="26"
                        height="26">
                
                </picture>
            </button>  
        </div>

        <div class="hero-right-side" >

        <ul class="hero-images list">
            
            <li class="hero-images__group">

                <picture  >
                
                    <source media="(min-width: 1200px)"
                        srcset="./images/header-hero/slider-3_lg.png 1x, ./images/header-hero/slider-3_lg@2x.png 2x" type="image/png" width="236" height="557"/>
                
                    <source media="(min-width: 768px)"
                        srcset="./images/header-hero/slider-3_md.png 1x, ./images/header-hero/slider-3_md@2x.png 2x" type="image/png" width="143" height="336"/>
                    
                    <source media="(max-width: 767px)" 
                         srcset="./images/header-hero/slider-3_sm.png 1x, ./images/header-hero/slider-3_sm@2x.png 2x" type="image/png" width="171" height="410"/>
                
                    <img class="hero-images__second" src="./images/header-hero/slider-3_lg.png" alt="an ice cream cone" width="236" height="557">      
                
                </picture>
                
            </li>
            <li class="hero-images__group">

                    <picture  >
                    
                        <source media="(min-width: 1200px)"
                            srcset="./images/header-hero/slider-1_lg.png 1x, ./images/header-hero/slider-1_lg@2x.png 2x" type="image/png" />
                
                        <source media="(min-width: 768px)"
                            srcset="./images/header-hero/slider-1_md.png 1x, ./images/header-hero/slider-1_md@2x.png 2x" type="image/png" />

                        <img class="hero-images__third" src="./images/header-hero/slider-1_lg.png" alt="soooooo tasty" width="304"
                            height="241">
                    
                    </picture>

            </li>
        </ul>

        </div>
            </div>

        <div class="benefits" >

        <ul class="hero-benefits list">
            <li class="hero-benefits__item--first">
                <p class="hero-benefits__amount">16</p>
                <p class="hero-benefits__descr">cafes</p>
            </li>
            <li class="hero-benefits__item--second ">
                <p class="hero-benefits__amount">23</p>
                <p class="hero-benefits__descr">food trucks</p>
            </li>
        </ul>

        </div>

        </div>
    </div>

    </div>

</section>