<!-- Секція Products -->
<section class="section products-section">
    <span class="products-label">100% Natural</span>
    <h1 class="products-main-header">Products</h1>
    <ul class="products-list">
            <li class="products-list-item products-list-item--first">
                <div class="products-list-item__element products-list-item__element--first">
                    <h2 class="products-list-item__header"> Ice cream</h2>
                    <p class="products-list-item__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    <button class="products-btn" type="button">
                        <svg class="products-btn__icon" width="15" height="15">
                            <use href="./images/svg/symbol-defs.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </li>
        <li class="products-list-item">
            <div class="products-list-item__element products-list-item__element--second">
                <h2 class="products-list-item__header">Ice coffee</h2>
                <p class="products-list-item__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button class="products-btn" type="button">
                    <svg class="products-btn__icon" width="15" height="15">
                        <use href="./images/svg/symbol-defs.svg#icon-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </li>
        <li class="products-list-item">
            <div class="products-list-item__element products-list-item__element--third">
                <h2 class="products-list-item__header">Milkshakes</h2>
                <p class="products-list-item__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button class="products-btn" type="button">
                    <svg class="products-btn__icon" width="15" height="15">
                        <use href="./images/svg/symbol-defs.svg#icon-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </li>
    </ul>
</section>