.menu-btn {
  width: 209px;
  height: 44px;
  border-radius: 22px;
  cursor: pointer;

  background-color: white;
}

.menu-btn_text {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  color: #d41443;
}

.menu-btn_icon {
  fill: #d41443;
}
