
.menu-btn {
  width: 209px;
  height: 44px;
  border-radius: 22px;
  cursor: pointer;
  border: none;


//   background-color: white;
// }

// .menu-btn_text {
//   font-family: 'DM Sans';
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.31;

//   color: #d41443;
// }

// .menu-btn_icon {
//   fill: #d41443;
// }

.button {
  display: flex;
  align-items: center;
  justify-content: center;

.modal-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: -8px 0px 20px rgba(0, 0, 0, 0.25);

  @media screen and (min-width: 768px) {
    width: 186px;

    @media screen and (min-width: 1200px) {
      display: none;
    }
  }
}

.menu-btn_text {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.06em;

  border: 0;
  border-radius: 22px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button--white {
  color: var(--main-color);
  background-color: var(--white-text-color);

  &:hover,
  &:focus {
    background-color: var(--button-hover-bgc);
  }
}

.button--red {
  color: var(--white-text-color);
  background-color: var(--button-red-bgc);
}