.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(100%);

  width: 100%;
  height: 100%;

  background-color: var(--modal-color);

  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 185px;

  z-index: 10;
  transition: var(--anim-slow);

  @media screen and (min-width: 768px) {
    padding-top: 58px;
    padding-bottom: 690px;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }

  &.is-open {
    transform: translateX(0);
  }
}

.mobile-menu_nav {
  margin-top: 19px;

  @media screen and (min-width: 768px) {
    margin-top: 20px;
  }
}

.mobile-menu_item {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  color: white;

  height: 42px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  border-top: 1px solid #e18298;

  &:last-child {
    border-bottom: 1px solid #e18298;
  }
}

.mobile-menu_link {
  color: white;
  display: flex;
  row-gap: 50%;
}

.mobile-menu-btn {
  background-color: transparent;
  border: none;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: auto;

  height: 12px;
  width: 20px;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.mobile-menu-burger {
  fill: var(--main-color);
  transition: var(--anim-slow);

  .mobile-menu-btn.is-open & {
    opacity: 0;
  }
}

.mobile-menu-close {
  opacity: 0;
  transition: var(--anim-slow);
  width: 20px;
  height: 20px;

  .mobile-menu-btn.is-open & {
    opacity: 1;
    fill: white;
  }
}

.curent_link {
  color: var(--main-color);
}

.munu-btn_icon {
  margin-left: 12px;
  fill: var(--main-color);
}
