.mobile-menu-btn {
  background-color: transparent;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: auto;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.mobile-menu-close {
  opacity: 0;
}
