.advantages__container {
  background-color: var(--sec-bgc);
  padding-bottom: 60px;
  @media screen and (min-width: 768px) {
    padding-bottom: 64px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 120px;
  }
}

.advantages__list {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    gap: 32px;
  }
  @media screen and (min-width: 768px) {
    gap: 22px;
  }
  @media screen and (min-width: 1200px) {
    gap: 115px;
  }
}

.advantages__item:nth-child(1) {
  background-image: url(../images/advantages/advantages1.png);
  background-repeat: no-repeat;
  background-size: 50px 50px;
}
.advantages__item:nth-child(2) {
  background-image: url(../images/advantages/advantages2.png);
  background-repeat: no-repeat;
  background-size: 50px 50px;
}
.advantages__item:nth-child(3) {
  background-image: url(../images/advantages/advantages3.png);
  background-repeat: no-repeat;
  background-size: 44px 50px;
}

.advantages__item {
  max-width: 230px;
  padding-top: 66px;
  @media screen and (min-width: 768px) {
    max-width: 162px;
    padding-top: 86px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 288px;
    padding-top: 96px;
  }
}

.advantages__title {
  margin-bottom: 24px;
  font-family: 'Titan One';
  font-size: 36px;
  line-height: 1.13;
  letter-spacing: 0.04em;
  color: var(--main-color);
  @media screen and (max-width: 767px) {
    text-transform: uppercase;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 13px;
    font-size: 48px;
    line-height: 1.14;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 16px;
    font-size: 58px;
    line-height: 1.13;
  }
}

.advantages__txt {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 12px;
  line-height: 1.41;

  @media screen and (max-width: 767px) {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.24;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.1;
  }
}
