.header {
  display: flex;
  align-items: center;
  display: none;
}

.header-list {
  display: flex;
}

.header_container {
  display: flex;
  align-items: center;
}

.header-icon_svg {
  fill: #d41443;
}

