.header {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header_container {
  display: flex;
  align-items: center;
  background-color: #FFB8CA;
 
}




.header-icon_svg {
  fill: #D41443;
}

.header-logo {
  margin-top: 37px;
}

.header-nav {
  margin-top: 40px;
  margin-left: 128px;

  

  @media screen and (max-width: 1199px) {
      display: none;
  
    }
}
.header-item {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.32;
   display: flex;
  align-items: center;
  color: #FFFFFF;
  margin-right: 32px;
  
}

.header-item:hover,
.header-item:focus {
  color: #D41443;

}

.header-link--current {
  color: #D41443;

}
.header-item:last-child {
  margin-right: 0;
}

.menu-btn {
  margin-left: auto;
  margin-top: 40px;
  text-decoration: none;
  border: none;
  

  &:hover,
  &:focus {
    background-color:var(--button-hover-bgc);
  }
  
 

  @media screen and (max-width: 767px) {
      display: none;
  
    }
}