.header {
  display: flex;
  align-items: center;

}

.header-list {
  display: flex;
}

.header_container {
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
 
}

.header-icon_svg {
  fill: var(--main-color);

}



.header-nav {
  margin-left: 128px;
  z-index: 1;

  @media screen and (max-width: 1199px) {
      display: none;
  
    }
}

.header-item {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.32;
   display: flex;
  align-items: center;
  color: var(--white-text-color);
  margin-right: 32px;

  transition: color var(--animation-transition);
  
}

.header-item:hover,
.header-item:focus {
  color: var(--main-color);

}

.header-link--current {
  color: var(--main-color);

}

.header-item:last-child {
  margin-right: 0;
}

.menu-btn {
  margin-left: auto;
  text-decoration: none;
  border: none;

  transition: background-color var(--animation-transition);

  &:hover,
  &:focus {
    background-color:var(--button-hover-bgc);
  }
  

  @media screen and (max-width: 767px) {
      display: none;
    }
}

.menu-btn_text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.32;
  color: var(--main-color);
}

.munu-btn_icon {
  fill: currentColor;
}

.munu-btn_icon {
  color: var(--main-color);
  margin-left: 12px;

}