.products-section {
    background-color: #ffff;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.products-label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;
    padding-bottom: 8px;
    padding-top: 60px;

    text-transform: uppercase;

    color: var(--sec-color);

    @media screen and (min-width: 768px) {
        font-size: 26px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 30px;
    }
}

.products-main-header {
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 34px;
    line-height: 1.14;
    padding-top: 0;
    padding-bottom: 0;

    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--main-color);

    @media screen and (min-width: 768px) {
        font-size: 48px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 58px;
    }
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;

    @media screen and (min-width: 768px) {
        gap: 13px;
    }

    @media screen and (min-width: 1200px) {
        gap: 32px;
    }
}

.products-list-item {
    position: relative;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;

    @media screen and (min-width: 768px) {
        max-width: 224px;
        margin: 0;
    }

    @media screen and (min-width: 1200px) {
        gap: 32px;
        max-width: 368px;
    }

    &__element {
        width: 100%;
        height: 489px;
        border-radius: 24px;
        position: relative;
        margin-top: 148px;
        max-width: 368px;

        @media screen and (min-width: 768px) {
            height: 473px;
            width: 224px;
            margin-top: 158px;
        }

        @media screen and (min-width: 1200px) {
            height: 535px;
            margin-top: 281px;
            width: 368px;
        }
    }

    &__header {
        font-family: 'Titan One';
        font-weight: 400;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin-bottom: 70px;
        margin-top: 160px;

        color: #FFFFFF;

        @media screen and (min-width: 768px) {
            margin-top: 118px;
        }

        @media screen and (min-width: 1200px) {
            margin-top: 165px;
            font-size: 30px;
        }
    }

    &__desc {
        width: 100%;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.5;
        padding: 0 40px;
        text-align: center;

        letter-spacing: 0.04em;

        color: #FFFFFF;

        @media screen and (min-width: 1200px) {
            font-size: 16px;
        }

        &::before {
            content: "";
            position: absolute;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #FFFFFF;
            box-shadow: -9px 0 0 #FFFFFF, 9px 0 0 #FFFFFF;
            top: 44%;
            left: 50%;

            @media screen and (min-width: 768px) {
                top: 37%;
            }

            @media screen and (min-width: 1200px) {
                top: 44%;
            }
        }
    }
}

.products-list-item__element--first {
    background-color: var(--second-additional-color);

    &::before {
        content: "";
        display: inline-block;
        width: 280px;
        height: 280px;
        background-image: url(../images/products/products-1_sm.png);
        background-repeat: no-repeat;
        top: -29%;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;

        background-image: url(../images/products/products-1_sm.png);

        @media screen and (min-width: 768px) {
            width: 224px;
            height: 224px;
            background-image: url(../images/products/products-1_md.png);
        }

        @media screen and (min-width: 1200px) {
            top: -50%;
            width: 368px;
            height: 394px;
            background-image: url(../images/products/products-1_lg.png);
        }
    }
}

.products-list-item__element--second {
    background-color: var(--first-additional-color);

    &:after {
        content: "";
        width: 280px;
        height: 280px;
        background-image: url(../images/products/products-2_sm.png);
        background-repeat: no-repeat;
        top: -29%;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;

        background-image: url(../images/products/products-2_sm.png);

        @media screen and (min-width: 768px) {
            width: 224px;
            height: 224px;
            background-image: url(../images/products/products-2_md.png);
        }

        @media screen and (min-width: 1200px) {
            top: -50%;
            width: 368px;
            height: 394px;
            background-image: url(../images/products/products-2_lg.png);
        }
    }
}

.products-list-item__element--third {
    background-color: var(--third-additional-color);

    &:after {
        content: "";
        width: 280px;
        height: 280px;
        background-image: url(../images/products/products-3_sm.png);
        background-repeat: no-repeat;
        top: -29%;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;

        background-image: url(../images/products/products-3_sm.png);

        @media screen and (min-width: 768px) {
            width: 224px;
            height: 224px;
            background-image: url(../images/products/products-3_md.png);
        }

        @media screen and (min-width: 1200px) {
            top: -50%;
            width: 368px;
            height: 394px;
            background-image: url(../images/products/products-3_lg.png);
        }
    }
}

.products-btn {
    background-color: white;
    border: none;
    margin-top: 32px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-items: center;

    &__icon {
        fill: var(--main-color);
    }

    @media screen and (min-width: 1200px) {
       margin-top: 60px;
    }

    &:hover, &:focus {
        cursor: pointer;
        border: 2px solid var(--main-color);
    }
}